@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-navbar {
    @apply bg-slate-600 p-4 text-white;
  }
}

.app-navbar .active {
  background-color: #283541;
  color: #149eca;
  border-radius: 1.3rem;
}
